name: Build Quarkus Native Multi-Arch

on:
  push:
    branches: ["main"]
  workflow_dispatch:

permissions:
  contents: read
  packages: write

jobs:
  build-native:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup QEMU
        uses: docker/setup-qemu-action@v3

      - name: Setup Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Multi-Arch Build & Push
        uses: docker/build-push-action@v6
        with:
          context: .
          file: src/main/docker/Dockerfile.native-multiarch
          platforms: linux/amd64,linux/arm64
          build-args: |
            GITHUB_TOKEN=${{ secrets.TOKEN_MVN }}
          push: true
          tags: |
            ghcr.io/${{ github.repository }}:latest
